<section class="about-show">

  <header class="page-header">
    <h1>About</h1>
  </header>

  <p>This is a store that sells a bunch of junk.</p>
  <p>If you're brave enough to place an order, please don't worry --> we'll get you your junk!</p>

</section>